[submodule "src/BreezySLAM"]
	path = src/BreezySLAM
	url = git@github.com:simondlevy/BreezySLAM.git
[submodule "src/PyRoboViz"]
	path = src/PyRoboViz
	url = git@github.com:simondlevy/PyRoboViz.git
[submodule "src/FastestRplidar"]
	path = src/FastestRplidar
	url = git@github.com:thehapyone/FastestRplidar.git
[submodule "ros2_ws/src/sllidar_ros2"]
	path = ros2_ws/src/sllidar_ros2
	url = git@github.com:Slamtec/sllidar_ros2.git
